:root{
  --color-card-br: #24c5db; 
}

.page-toys {
  margin: 0 auto;
  max-width: 1650px;
  display: flex;
  color: white;
  justify-content: space-around;
  min-height: calc(100vh - 70px) 
}
.blur {
  background: rgba(22, 41, 41, 0.5);
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
}
.wrapper {
  max-width: 1200px;
  width: 100%;
}
.toys-title {
  font-size: 42px;
  text-align: left;
}
.controls {
  margin: 45px 30px;
  max-width: 450px;
}
.filter {
  margin-bottom: 40px;
  max-width: 450px;
  width: 100%;
}
.filter-title {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  margin: 15px 0px;
}
.sort {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.sort--select {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  max-width: 250px;
  border-radius: 20px;
  padding: 5px 15px;
  height: 35px;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
}
.select-item {
  background: #24c5db;
}
.card-container {
  max-width: 1200px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
  border-radius: 10px;
  border: 1px solid #24c5db;
  background-color: rgba(31, 112, 127, 0.3);
  position: relative;
  cursor: pointer;
}
.selected {
  border: 1px solid red;
  --color-card-br: red;
}
.card-img {
  width: 90px;
  height: 110px;
  object-fit: contain;
  padding-right: 15px;
}
.card-title {
  width: 100%;
  font-size: 18px;
}
.card--description {
  max-width: 200px;
  text-align: left;
  padding: 0;
}
.description-item {
  list-style-type: none;
  margin: 5px 0;
  font-size: 18px;
  font-weight: 400;
}
.card-ribbon {
  cursor: pointer;
  width: 70px;
  height: 30px;
  background-color: var(--color-card-br);
  position: absolute;
  bottom: 20px;
  left: -8px;
}
.card-ribbon::before {
  content: "";
  top: -8px;
  left: 0;
  position: absolute;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #14455b;
}
.card-ribbon::after {
  content: "";
  right: -15px;
  position: absolute;
  border-left: 15px solid var(--color-card-br);
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.card-ribbon:hover {
  opacity: 0.8;
} 
.shape--item {
  margin-right: 25px;
}
.filter-btn {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
.filter--color {
  display: flex;
}
.filter-img {
  width: 40px;
  height: 40px;
}
.filter-img:hover {
  filter: invert(20%);
  transition: filter 0.3s;
}
.active > .filter-img {
  filter: brightness(0) saturate(100%) invert(87%) sepia(39%) saturate(5633%) hue-rotate(8deg) brightness(105%)
    contrast(96%);
  transition: filter 0.3s;
}
.shape-text {
  margin: 0;
  font-size: 14px;
  font-weight: 100;
}

.hidden {
  opacity: 0;
  position: absolute;
  z-index: -1; /* 
  display: none; */
}
.hidden:checked + .checkbox-label::before {
  background-image: url("../assets/svg/checked.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}
.hidden:hover + .checkbox-label::before {
  border: solid 1px green;
}
.checkbox-label::before {
  display: inline-block;
  content: "";
  width: 25px;
  height: 25px;
  margin: 0 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: ease 0.1s;
}

.white::before {
  background: rgb(219, 214, 214);
}

.red::before {
  background-color: red;
}
.yellow::before {
  background-color: orange;
}
.blue::before {
  background-color: blue;
}
.green::before {
  background-color: green;
}
.filter--size,
.filter--favorite,
.filter--shape {
  display: flex;
  align-items: center;
}

.size-checkbox {
  cursor: pointer;
  appearance: none;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: solid transparent;
  border-radius: 5px;
  outline: solid 1px #24c5db;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  transition: ease 0.1s;
}
.size-checkbox:checked {
  background-clip: content-box;
  background-color: #278d9f;
}
.size-label {
  margin: 0 10px;
}

.range-count,
.range-years {
  margin: 0;
  max-width: 380px;
  width: 100%;
}

.range-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.range-label {
  margin: 0 20px;
}
.global {
  display: flex;
  justify-content: space-between;
}
.global-search {
  font-family: inherit; 
  width: 250px;
  height: 35px;
  padding: 3px 10px;
  border: 1px solid #278D9F;
  border-radius: 20px;
  color: #fff;
  font-size: 18px; 
  background-color: rgba(31, 112, 127, .3);
  background-image: url("./../assets/svg/search.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 230px center;
  backdrop-filter: blur(6px); 
}
.global-search:focus {
  outline: none;
  border-color: #24c5db;
}
.sort-title {
  font-size: 20px;
}

.reset-btn {
  margin: 10px auto;
  cursor: pointer;
  color: #fff;
  width: 180px;
  height: 35px;
  font-size: 16px;
  border-radius: 20px;
  border-color: #24c5db;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
}
