.controls {
  display: flex;
  flex-wrap: wrap;
}
.page-toys {
  margin: 0 auto;
  max-width: 1600px;
  display: flex;
  color: white;
}
.blur {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(22, 41, 41, 0.5);
  backdrop-filter: blur(3px);
  width: 100%;
}
.controls {
  max-width: 450px;
}
.card-img {
  width: 90px;
  height: 110px;
  object-fit: contain;
}
.filter {
  max-width: 450px;
  width: 100%;
}
.filter-title {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}
.select {
  border-radius: 10px;
  padding: 5px 25px;
}

.input {
  border-radius: 10px;
  padding: 5px 15px;
  border: solid 1px gray;
}

.sort {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reset {
  max-width: 250px;
  height: 40px;
}
.card-container {
  max-width: 1150px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.card {
  width: 270px;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px skyblue;
  border-radius: 5%;
}
.card-title {
  width: 100%;
}
.card-description {
  width: 200px;
}
.shape--item {
  margin-right: 25px;
}
.shape-btn {
  border: none;
  background: none;
}
.filter--color {
  display: flex;
}
.shape-img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.shape-img:hover {
  filter: brightness(0) saturate(100%) invert(87%) sepia(29%) saturate(5633%)
    hue-rotate(8deg) brightness(105%) contrast(96%);
}

.hidden {
  opacity: 0;
  position: absolute;
  z-index: -1; /* 
  display: none; */
}
.hidden:checked + .checkbox-label::before {
  background-image: url("../assets/svg/checked.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}
.hidden:hover + .checkbox-label::before {
  border: solid 1px green;
}
.checkbox-label::before {
  display: inline-block;
  content: "";
  width: 25px;
  height: 25px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: ease 0.1s;
}

.white::before {
  background: rgb(219, 214, 214);
}

.red::before {
  background-color: red;
}
.yellow::before {
  background-color: orange;
}
.blue::before {
  background-color: blue;
}
.green::before {
  background-color: green;
}
.filter--size,
.filter--favorite,
.filter--shape {
  display: flex;
  align-items: center;
}

.size-checkbox {
  cursor: pointer;
  appearance: none;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: solid transparent;
  border-radius: 5px;
  outline: solid 1px #24c5db;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  transition: ease 0.1s;
}
.size-checkbox:checked {
  background-clip: content-box;
  background-color: #278D9F;
}
