.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
.start--page-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 600px;
  height: 250px;
  margin: 0;
  color: #fff;
  font-weight: 400;
  text-align: center;
  border: 3px solid #278d9f;
  border-radius: 25px;
  background-color: rgba(31, 112, 127, 0.3);
  backdrop-filter: blur(6px);
  font-size: 48px;
}

.App-header {
  background-color: #282c34; 
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer {
   
  background: #282c34;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}
.footer a {
  color: white;
}
.logo {
  width: 100px;
  height: 45px;
  background-image: url("./assets/svg/rs_school_js.svg");
  /* 
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%); */
}
